body{
    padding: 5px 3px;
}

.status-bar{
    /*position: fixed;*/
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.status-bar__column{
    width: 33%;
    position: relative;
}

.status-bar:first-child{
    display: flex;
    justify-content: center;
}

.status-bar__column .fa-signal{
    margin-right: 5px;
}

.status-bar:nth-child(2){
    display: flex;
    justify-content: center;
}

.status-bar:last-child{
    display: flex;
    justify-content: flex-end;
}
